<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page3</title>
    <link rel="stylesheet" href="../css/page3.css">
</head>
<body>
    <section class="page3">
            <div class="title">Just that simple</div>
            <div class="text">
                <div class="sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</div>    
                <button class="button">Get Started</button>
            </div>    
            <article class="image">
                <img src="../stora/img/page3.png" alt="">
            </article>
    </section>
    
</body>
</html>