<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page-02</title>
    <link rel="stylesheet" href="../css/page2.css">
</head>
<body>
    <section class="section">
        <h1>Discover the beauty around the world</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu.</p>
    </section>
    <button>Get started</button>
    <section class="section1">
        <img src="../stora/img/plantas1.png" alt="">
        <img src="../stora/img/plantas2.png" alt="">
    </section>
    <section class="section2">
        <div class="image1">
            <h1>01</h1>
            <img src="../stora/img/plantas3.png" alt="">
        </div>
        <div class="image2">
            <h1>02</h1>
            <img src="../stora/img/plantas4.png" alt="">
        </div>
        <div class="image3">
            <h1>03</h1>
            <img src="../stora/img/plantas5.png" alt="">
        </div>
        
    </section>
</body>
</html>