<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page3</title>
</head>
<body>
    <section class="Page3">
        <div class="text">
            <div class="title">Just that simple</div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</div>
            <button>Get Started</button>    
        </div>
        <article class="image">
            <img src="../stora/img/page3.png" alt="">
        </article>
    </section>
    
</body>
</html>