@import url(variables.css);
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    background-color: var(--color-3);
}
.text{
    display: flex;
    flex-direction: column;
    width: 610px;
    height: 355px;
}

.title{
    font-family: "Avenir-Heavy";
    font-size: 30px;
    width: 610px;
    height: 145px;
    margin-left: 350px;
    margin-top: 64px;
    text-align: center;
}
.description p{
    font-family: "Avenir-Roman";
    font-size: 26px;
    width: 500px;
    height: 145px;
    margin-left: 400px;
    margin-top: 10px;
    text-align: center;
    
}
