@import url(variables.css);
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    background-color: var(--color-2);
}
.section{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 64px;
    width: 400px;
    height: 200px;
}
.section h1{
    font-family: "Avenir-Heavy";
    font-size: 56px;
    line-height: 1.2;

}
.section0 p{
    font-family: "Avenir-Roman";
    font-size: 25px;
    line-height: 1.5;
}
button{
    background-color: var(--color-1);
    color: var(--color-2);
    font-family: "Avenir-Roman";
    border: none;
    border-radius: 16px;
    width: 180px;
    height: 40px;
    margin-top: 160px;
    margin-left: 64px;
}